{% extends 'dcim/device.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>ACI Application Profiles</strong>
                <div class="pull-right noprint">
                    {% if request.user.is_authenticated %}
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#ApplicationProfileTable_config" title="Configure table"><i class="mdi mdi-cog"></i> Configure</button>
                    {% endif %}
                </div>
            </div>
            {% render_table app_table 'inc/table.html' %}
        </div>
    </form>
    {% table_config_form app_table %}
{% endblock content %}


{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/connection_toggles.js' %}?v{{ settings.VERSION }}"></script>
    <script src="{% static 'js/tableconfig.js' %}?v{{ settings.VERSION }}"></script>
{% endblock javascript %}
